img{
  width: 355px;
  height: 177px;
  background-color: #f2f2f2;
  padding-left: 0px;
}
.topnav {
  background-color: #c4c4c4;
  overflow: hidden;
  height: 177px;
  width: 1156px;
  /*padding: 52px 244px;*/
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 24px;
  text-decoration: none;
  font-size: 30px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav{
  text-align: center;
  font-size: 18px;
  float: right;
  top: 0px;
  right: 0px;
}
.mainimage > img{
  width: 500px;
  height: 400px;
  padding: 0px;
  top: 175px;
  margin: auto;

}
.welcomemessage{
  
    width:1018px;
    height: 400px;
    position: absolute;
    right: 0;
    text-decoration: purple;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    top: 184px;
    margin: auto;
    border: 1px solid white;
    background-color: #c4c4c4;
  }
  .footer {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 2px;
    padding: 3px;
    background-color: #c4c4c4;
    color: white;
  }h1 {
    font: 400 50px/1.2 'Leckerli One', Helvetica, sans-serif;
    color: #000;
    font-style: italic;

    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); 
  }


  h2 {
    font: 400 30px/1.2 'Leckerli One', Helvetica, sans-serif;
    color: #000;
    font-style: italic;

    text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2); 
  }

  /* About Us page css.*/

  .about-section {
  padding: 50px;
  text-align: center;
  background-color: #c4c4c4;
  color: white;
}


.container {
  padding: 0 16px;
}
.column {
  float: left;
  width: 27.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #c4c4c4;
  top: 580px;
  right: 0;
  left: 0;
  height: 150px;
  position: absolute;
}
.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  margin: 3px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  box-shadow: #c4c4c4;

}

/*services css*/

.services-section {
  padding: 50px;
  text-align: center;
  background-color: #c4c4c4;
  color: white;
}
h4{
  color: blueviolet;
}

/*Contact us page*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container1{
  border-radius: 5px;
  background-color: #c4c4c4;
  padding: 20px;
}
.contactushead{
  padding: 50px;
  text-align: center;
  background-color: #c4c4c4;
  color: white;
}


