
img{
    width: 350px;
    height: 173px;
    background-color: #c4c4c4;
}
.topnav {
    background-color: #c4c4c4;
    overflow: hidden;
    padding: 50px 250px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 24px;
    text-decoration: none;
    font-size: 25px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav{
    text-align: center;
    float: right;
    right: 0;
    position: relative;
  }
  .mainimage > img{
    width: 500px;
    height: 400px;
  }
  .welcomemessage{
    
      width:1018px;
      height: 400px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 180px;
      margin: auto;
      border: 1px solid plum;
    }
    footer {
      text-align: center;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 2px;
      padding: 3px;
      background-color: #c4c4c4;
      color: white;
    }